<html>
    <head>
        <title>Jessa's blog</title>
    </head>
    <body>
        <div>
            <h1>Jessa's Django Girls Workshop Journey</h1>
            <h2>This is my first website using Python!</h2>
            <h3>Grand Rapids, MI</h3>
        </div>

        <div>
            <p><em>WOW!</em> Yesterday and today have been wonderful! I am learning so much. That's what I love to do: learn and grow.</p>
            <p>I met some amazing individuals: Beau, Sara, Heather, and Dan. Beau was my coach, Sara was someone partaking in the workshop like me, and Heather was a volunteer. Dan was one of the leaders and he was telling me about D3.js. I can't wait to look into it!</p>
            <p>I am most excited about the fact that Python is used for more science-based software. I really want to get into data visualization. I already do a little of that being a GIS Technician (and the software I use at work is <em>Python</em> based!!!).</p>
            <p>The following is part of the <em>Django Girls Workshop Tutorial: </em></p>
        </div>

        <div>
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
    
            <div>
                <p>published: 4/13/2019, 3:33</p>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
    
            <div>
                <p>published: 4/13/2019, 3:33</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
    </body>
</html>
